In [1]:
#import numpy library and provide an alias np, later 
#we will refer np instead of numpy in our code
import numpy as np

In [2]:
#create a simple one dimensional array in numpy which
#will be a single row with three columns or fields
x = np.array([1 , 3, 2])

In [3]:
#for displaying the type of the object i.e. x we use 
#type() function. we see the output numpy.ndarray
type(x)

numpy.ndarray

In [4]:
#to know the dimension of the array, use shape 
#attribute.It is displaying 3, which means single
#dimension with 3 cols
x.shape

(3,)

In [5]:
#displaying the content of x
x

array([1, 3, 2])

In [6]:
#create a two dimensional array in numpy
y = np.array([[1,2,3],[4,5,6]])

In [8]:
y.shape

(2, 3)

In [9]:
y

array([[1, 2, 3],
       [4, 5, 6]])

In [10]:
#convert a python list into numpy array. For that
#we will create a python list below and then 
#convert it into numpy
myPythonList = [1,2,3]

In [11]:
type(myPythonList)

list

In [12]:
myPythonList

[1, 2, 3]

In [13]:
#Now convert it to a numpy array
myNumpyArray = np.array(myPythonList)

In [14]:
type(myNumpyArray)

numpy.ndarray

In [15]:
myNumpyArray.shape

(3,)

In [16]:
myNumpyArray

array([1, 2, 3])

In [17]:
#convert a two dimensional python list into
#numpy. First let's create the list
myPythonTwoDList = [[1,2,3],[4,5,6]]

In [18]:
type(myPythonTwoDList)

list

In [19]:
myPythonTwoDList

[[1, 2, 3], [4, 5, 6]]

In [20]:
myNumpy2dArray = np.array(myPythonTwoDList)

In [21]:
myNumpy2dArray.shape

(2, 3)

In [22]:
type(myNumpy2dArray)

numpy.ndarray

In [23]:
myNumpy2dArray

array([[1, 2, 3],
       [4, 5, 6]])

In [24]:
#Let's see the data type of the numpy array
#we use dtype
myNumpy2dArray.dtype

dtype('int32')

In [25]:
#If we want to create numpy array with decimal
#values and see the datatype (float)
myFloatArray = np.array([1.0 , 3.5, 2.2])

In [26]:
myFloatArray.dtype

dtype('float64')

In [27]:
#create numpy array with specific data type 
#say a 16 bit integer
myInt16Array = np.array([1, 2, 3], dtype=np.int16)

In [28]:
myInt16Array.dtype

dtype('int16')

In [29]:
#create numpy array with 32 bit integer
myInt32Array = np.array([1, 2, 3], dtype=np.int32)

In [30]:
myInt32Array.dtype

dtype('int32')

In [31]:
#create numpy array with 64 bit integer
myInt64Array = np.array([1, 2, 3], dtype=np.int64)

In [32]:
myInt64Array.dtype

dtype('int64')

In [33]:
#create numpy array with 64 bit floating point numbers
myFloat64Array = np.array([1, 2, 3], dtype=np.float64)

In [34]:
myFloat64Array.dtype

dtype('float64')

In [35]:
myFloat64Array #note the output has a . indicates 
#it's floating point. When you see the input
#we have provided 1,2,3

array([1., 2., 3.])

In [36]:
#create numpy array with complex datatype
myComplexArray = np.array([ [1,2], [3,4] ], dtype=complex)

In [37]:
myComplexArray.dtype

dtype('complex128')

In [38]:
myComplexArray

array([[1.+0.j, 2.+0.j],
       [3.+0.j, 4.+0.j]])

In [ ]:
#Often, the elements of an array are originally 
#unknown, but its size is known. Hence, NumPy 
#offers several functions to create arrays with
#initial placeholder content. For example we can
#use following functions - zeros, ones, empty

In [39]:
#let's see zeros. In this example we are creating
#3 rows and 4 columns
myZeroInitializedArray = np.zeros((3,4))
myZeroInitializedArray

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [41]:
#let's see ones.In this example we are creating
#3 rows and 4 columns
myOnesInitializedArray = np.ones((2,3,4), dtype=np.int16 )
myOnesInitializedArray

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]], dtype=int16)

In [42]:
#the function empty creates an array whose initial content
#is random and depends on the state of the memory. 
#By default, the dtype of the created array is float64
myEmptyNumpyArray = np.empty((2,3)) 
myEmptyNumpyArray

array([[5.04e-322, 0.00e+000, 0.00e+000],
       [0.00e+000, 0.00e+000, 0.00e+000]])

In [43]:
myEmptyNumpyArray.shape

(2, 3)

In [44]:
#To create sequences of numbers, NumPy provides a function 
#analogous to range of python called arange function
#It create a sequence of number ranging between 10 and 30
#with a step of 5
mySequence = np.arange(10, 30, 5)
mySequence

array([10, 15, 20, 25])

In [45]:
type(mySequence)

numpy.ndarray

In [46]:
mySequenceFloat = np.arange(0, 2, 0.3) #step of 0.3 i.e. float
mySequenceFloat

array([0. , 0.3, 0.6, 0.9, 1.2, 1.5, 1.8])

In [47]:
type(mySequenceFloat)

numpy.ndarray

In [48]:
mySequenceFloat.dtype

dtype('float64')

In [49]:
#When arange is used with floating point arguments,
#it is generally not possible to predict the number
#of elements obtained, due to the finite floating point 
#precision. For this reason, it is usually better to use
#the function linspace() instead of arange() that receives
#as an argument the number of elements that we want
myNewSq = np.linspace( 0, 2, 9 )
myNewSq

array([0.  , 0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  ])

In [50]:
#We have created many numpy arrays. Let's see how to change 
#the shape of an array. We will be using three functions i.e
#ravel(), reshape() and transpose T
myRandomNoArray = np.floor(10*np.random.random((3,4)))
myRandomNoArray

array([[8., 9., 9., 5.],
       [3., 9., 2., 4.],
       [6., 3., 9., 8.]])

In [51]:
myRandomNoArray.shape

(3, 4)

In [52]:
#ravel() is use to flattened the array
myRandomNoArray.ravel()

array([8., 9., 9., 5., 3., 9., 2., 4., 6., 3., 9., 8.])

In [53]:
myRandomNoArray.reshape(2,6)

array([[8., 9., 9., 5., 3., 9.],
       [2., 4., 6., 3., 9., 8.]])

In [54]:
#again we can make it 4 * 3
myRandomNoArray.reshape(4,3)

array([[8., 9., 9.],
       [5., 3., 9.],
       [2., 4., 6.],
       [3., 9., 8.]])

In [55]:
#we can also flip the array or transpose
myRandomNoArray.T

array([[8., 3., 6.],
       [9., 9., 3.],
       [9., 2., 9.],
       [5., 4., 8.]])

In [56]:
#because of these random values it may be difficult for you
#to understand so let me create another array and transpose
newArray = np.array([[1,2,3],[4,5,6]])
newArray

array([[1, 2, 3],
       [4, 5, 6]])

In [57]:
newArray.T

array([[1, 4],
       [2, 5],
       [3, 6]])

In [ ]:
#see the above outputs in 56 and 57, the T or transpose 
#actually flip the rows into columns and vise versa

In [58]:
#simply assigning the transposed array. If we transpose, 
#it will come into original shape
transposedArray = newArray.T 
transposedArray.T #the newArray Shape

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
#Stacking together different arrays

In [59]:
#let's create 2 arrays and stack together
A = np.array([[1,2,3],[4,5,6]])
A

array([[1, 2, 3],
       [4, 5, 6]])

In [60]:
B = np.array([[7,8,9],[10,11,12]])
B

array([[ 7,  8,  9],
       [10, 11, 12]])

In [61]:
#Now let's stack A and B (vertical stack)
np.vstack((A,B))

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [62]:
#you can also create a new array by stacking for example
C = np.vstack((A,B))
C

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [63]:
#let stack A and B using hstack (horizontal)
np.hstack((A,B))

array([[ 1,  2,  3,  7,  8,  9],
       [ 4,  5,  6, 10, 11, 12]])